

#main .sc-visual { } 
#main .slide1 { padding: 30px 10px 15px; } 
#main .slide1 .swiper-slide { height: 170px; background: #D9D9D9; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); border-radius: 15px; } 
#main .slide1 .swiper-pagination { bottom: 0; } 
#main .slide1 .swiper-pagination-bullet { width: 13.29px; height: 6.04px; background: #D9D9D9; border-radius: 20px; opacity: 1; } 
#main .slide1 .swiper-pagination-bullet-active { width: 28.38px; } 




#main .sc-intro { margin-top: 30px; } 
#main .sc-intro h2 { text-align: center; font-size: 18px; line-height: 26px; margin-bottom: 21px; } 
#main .sc-intro h2 strong { display: block; font-weight: bold; } 

#main .sc-intro .group-nav { display: flex; text-align: center; } 
#main .sc-intro .group-nav a { flex: 1; font-weight: bold; font-size: 15px; color: #d9d9d9; position: relative; padding: 11px 0; } 
#main .sc-intro .group-nav a.active { color: #ff1c9b; } 
#main .sc-intro .group-nav a.active::after { position: absolute; bottom: 0; left: 0; width: 100%; content: ''; background: linear-gradient(329.02deg, #55E1FF -7.75%, #FF1C9B 66.73%); height: 4px; } 




#main .sc-intro .swiper { padding: 16px 0 34px; background: #F8F8F8; display: none; } 
#main .sc-intro .swiper.active { display: block; } 
#main .sc-intro .swiper-pagination { bottom: 15px; } 
#main .sc-intro .swiper-pagination-bullet { background: #E7E7E7; width: 40px; height: 5px; border-radius: 2px; margin: 0 1px !important; } 
#main .sc-intro .swiper-pagination-bullet-active { background: #acacac; } 

#main .sc-intro .swiper-slide { width: 226px; background: #FFFFFF; border-radius: 20px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); padding: 15px 0; text-align: center; } 
#main .sc-intro .swiper-slide a { display: block; } 
#main .sc-intro .badge-area { display: flex; justify-content: center; gap: 5px; } 
#main .sc-intro .badge-area span { width: 52px; height: 20px; line-height: 20px; border-radius: 10px; color: #fff; font-size: 10px; } 
#main .sc-intro .badge-area .hot { background: var(--pink01); } 
#main .sc-intro .badge-area .event { background: #0094ff; } 
#main .sc-intro .badge-area .new { background: #8b47f9; } 

#main .sc-intro .info-area { } 
#main .sc-intro .info-area .title { margin: 15px 0 18px; font-weight: 500; font-size: 16px; line-height: 23px; display: block; } 
#main .sc-intro .info-area .original { color: #9C9C9C; text-decoration: line-through; } 
#main .sc-intro .info-area .curr { font-size: 20px; line-height: 29px; font-weight: 500; margin-top: 20px; } 
#main .sc-intro .info-area .curr em { font-weight: bold; font-size: 30px; display: inline-block; margin: 0 13px 0 14px; } 

#main .sc-intro .info-area .info-list { display: flex; justify-content: center; font-size: 10px; } 
#main .sc-intro .info-area .info-item { flex: 1; padding-top: 10px; margin-top: 25px; } 
#main .sc-intro .info-area .info-item+.info-item { border-left: 1px solid #E9E9E9; } 
#main .sc-intro .info-area .info-item .icon-box { } 
#main .sc-intro .info-area .info-item .icon-box .img-box { width: 20px; height: 20px; display: flex; justify-content: center; align-items: center; margin: 0 auto; } 
#main .sc-intro .info-area .info-item .icon-box img { } 
#main .sc-intro .info-area .info-item .icon-box span { color: #9c9c9c; } 
#main .sc-intro .info-area .info-item em { margin-top: 10px; display: block; line-height: 14px; } 

#main .sc-intro .info-area .desc-wrap { margin-top: 14px; } 
#main .sc-intro .info-area .desc-wrap .data { font-weight: 500; font-size: 12px; line-height: 17px; color: #9C9C9C; display: block; margin-bottom: 8px; } 
#main .sc-intro .info-area .desc-wrap .desc { color: #FF0000; display: block; margin-bottom: 10px; } 

#main .sc-intro .link-apply { display: block; height: 33px; left: 95px; top: 702px; border: 1px solid #000000; border-radius: 20px; margin: 0 34px 0 31px; line-height: 31px; font-size: 15px; font-weight: 500; } 






#main .sc-direct { padding: 30px 10px; display: grid; grid-template-columns: repeat(2,1fr); grid-template-rows:auto; grid-gap: 3px; } 

#main .sc-direct .link-direct { border: 0.5px solid #CCCCCC; border-radius: 20px; padding: 14px 6px 19px; text-align: center; } 
#main .sc-direct .link-direct img { margin: 0 auto; } 
#main .sc-direct .link-direct strong { display: block; font-weight: 700; font-size: 15px; margin-top: 9px; } 
#main .sc-direct .link-direct p { font-size: 12px; line-height: 17px; color: #ACACAC; margin-top: 10px; } 




#main .sc-intro.intro2 { } 
#main .sc-intro.intro2 .info-area { } 
#main .sc-intro.intro2 .info-area img { margin: 0 auto; } 
#main .sc-intro.intro2 .info-area .prd-name { font-size: 15px; line-height: 17px; font-weight: 500; margin: 0 20px; } 
#main .sc-intro.intro2 .info-area .curr { margin: 13px 0 24px; } 


#main .sc-why { padding-top: 36px; } 
#main .sc-why h2 { text-align: center; font-size: 18px; line-height: 26px; margin-bottom: 21px; } 
#main .sc-why h2 strong { display: block; font-weight: bold; } 
#main .sc-why .why-list { text-align: center; display: flex; gap: 5px; } 
#main .sc-why .why-item { flex: 1; background: #FDFDFD; border: 0.1px solid #E2E2E2; padding: 10px 0 13px; } 

#main .sc-why .why-item .img-box { width: 42px; height: 42px; margin: 0 auto; display: flex; align-items: center; justify-content: center; } 
#main .sc-why .why-item img { } 
#main .sc-why .why-item span { display: block; margin-top: 3px; line-height: 22px; } 



#main .sc-review { margin-top: 30px; position: relative; background: #F8F8F8; padding: 11px 11px 15px; } 
#main .sc-review::before { content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: calc(100% - 40px); background: #FF1C9B; height: 1px; } 
#main .sc-review h2 { text-align: center; font-size: 18px; line-height: 26px; margin-bottom: 21px; } 
#main .sc-review h2 strong { display: block; font-weight: bold; } 


#main .sc-review .review-list { display: flex; gap: 10px; margin-bottom: 15px; } 

#main .sc-review .review-item { flex: 1; border: 0.5px solid #AFAFAF; border-radius: 10px } 
#main .sc-review .review-item a { display: block; overflow: hidden; } 
#main .sc-review .review-item img { width: 100%; height: 116px; } 
#main .sc-review .review-item .desc-wrap { border-top: 0.5px solid #AFAFAF; padding: 7px 7px 10px; } 
#main .sc-review .review-item .sub-area { display: flex; justify-content: space-between; align-items: center; } 
#main .sc-review .review-item .grade { color: #ff1c9b; } 
#main .sc-review .review-item .date { font-size: 8px; color: #AFAFAF; } 
#main .sc-review .review-item p { font-size: 8px; line-height: 12px; margin-top: 8px; } 
#main .sc-review .link-more { border: 0.5px solid #AFAFAF; border-radius: 20px; width: 140px; height: 25px; display: block; margin: 0 auto; text-align: center; font-size: 10px; color: #AFAFAF; line-height: 23px; } 


#main .board-inner { padding: 30px 10px 17px; display: flex; gap: 10px; } 
#main .board-inner .sc-board { width: calc(50% - 5px); border: 1px solid #AFAFAF; border-radius: 5px; padding: 15px 12px 5px; position: relative; } 
#main .sc-board h2 { font-size: 15px; font-weight: bold; line-height: 12px; margin-bottom: 18px; } 
#main .sc-board ul { border-top: 1px solid #FF1C9B; font-size: 10px; } 
#main .sc-board li { margin: 12px 0; } 
#main .sc-board li a { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } 
#main .sc-board .link-more { font-weight: 700; font-size: 15px; position: absolute; top: 10px; right: 12px; line-height: 22px; } 